input:disabled {
	background-color: white !important;
	color: black;
	opacity: 1;
	cursor: not-allowed;
}

.btn-danger,
.bg-danger {
	background-color: #f42619 !important;
}

.text-danger {
	color: #f42619 !important;
}

.text-success {
	color: #70bea4 !important;
}
